body {
    font-family: 'Open Sans', sans-serif;
    margin     : 0;
}
img {
    width: 120px;
}
.container {
    max-width: 1280px;
    margin   : auto;
}
.twitter {
    width: 17px;
}
.facebook {
    width: 8px;
}
.header {
    position   : absolute;
    padding-top: 30px;
    width      : 100%;
    z-index    : 4;
}
.header__row {
    display    : flex;
    align-items: center;
}
.nav__menu {
    display: flex;
    padding: 0;
    color: white;
}
.nav__item {
    list-style : none;
    margin-left: 46px;
}
.nav__link {
    text-decoration: none;
    color: white;
}
.social {
    display: flex;
}
.social__item {
    list-style : none;
    margin-left: 25px;
}
.social__link {
    color: white;
}
.hero {
    position        : relative;
    height          : 100vh;
    z-index         : 1;
    background-color: #1b2433;
}
.hero__content {
    padding-top: 200px;
    width      : 700px;
    color      : white;
}
.hero__girl {
    position: absolute;
    top     : 0;
    right   : 0;
    height  : 100vh;
    width   : 780px;
    z-index : -1;
}
.hero__title {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size  : 80px;
    margin     : 0;
}
.hero__discription {
    margin-top : 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size  : 20px;
}
.hero__btn {
    font-family    : 'EB Garamond', serif;
    font-weight    : 400;
    font-size      : 22px;
    color          : white;
    text-decoration: none;
}
.hero__arrow {
    margin-left: 28px;
    height: 8px;
    width: 58px;
    transition : 1s;
    fill       : white;
}
.hero__btn:hover svg {
    margin-left: 700px;
    transform  : rotate(900deg);
    opacity    : 0;
}
.features {
    padding: 130px 0 190px 0;
}
.features__title {
    font-family: 'EB Garamond', serif;
    font-size  : 60px;
    width      : 670px;
    color      : #25252e;
    margin: 0 0 130px 0;
}
.features__title .features__row {
    display: flex;
    flex-wrap: wrap;  
}
.features__icon {
    width : 32px;
    height: 40px;
}
.col-4 {
    width: 33.33%;
}
.features__icon {
    height: 42px;
}
.features__subtitle {
    white-space: pre-wrap;
}
.features__description {
    white-space: pre-wrap;
    font-size  : 16px;
}
    .features .features__row {
        display  : flex;
        flex-wrap: wrap;
    }
    .slick-prev.slick-arrow{
        position: absolute;
        right: 222px;
        top: -45px;
        font-size: 0;
        height: 8px;
        width: 57px;
        background: url('../images/arrow-slider.svg');
        cursor: pointer;
        border: none;
        transform: rotate(180deg);
        outline: none;
    }
    .slick-next.slick-arrow {
        position: absolute;
        right: 147px;
        top: -45px;
        font-size: 0cm;
        height: 8px;
        width: 57px;
        background: url('../images/arrow-slider.svg');
        cursor: pointer;
        border: none;
        outline: none;
       
    }
    .slick-next.slick-arrow::before {
        content: '';
        position: absolute;
        top: -19px;
        width: 35px;
        height: 45px;
       border: 1px solid black;
        
    }

 